.recentPost img:first-child{
    width:3rem;
    height:3rem;
    border-radius:1.5rem

}
.recentPost-header{
    display:flex;
    gap:.2rem;
    font-weight:bold;
    cursor:pointer


}
.date{
    color:gray;
    margin-left:1rem
}
.text{
    font-size:2rem
}
.recentPost{
    box-shadow: 0 0 5px rgba(128, 128, 128, 0.5);
    background-color:white;
    border-radius:.5rem;
    width:39rem;
    margin:0 auto;
    margin-top:2rem;
    padding:.5rem;
    word-wrap:break-word

}
.post-photo{
    max-width:39rem

}
.comment{
    background-color: rgba(128, 128, 128, 0.2);
    border:none;
    border-radius:.5rem;
    width:35rem;
    height:3rem;
    margin:1rem;
    resize:none;
    padding:1rem


}
.comment:focus{
    outline:none
}
.view{
    cursor:pointer;
    color: #333333

}
.view:hover{
    text-decoration:underline
}
.comment-container{
    position:relative

}
.comment-container button{
    position:absolute;
    top:55%;
    right:3%;
    font-size:1.5rem;
    background-color:transparent;
    border:none



}
.comment-container button:hover{
    color:#1877F2

}
.comment-box{
    background-color: rgba(128, 128, 128, 0.2);
    border:none;
    border-radius:.5rem;
    width:max-content;
    max-width:35rem;
    padding:.2rem;
    word-wrap:break-word
}
.comment-box p:first-child{
    font-weight:bold

}
.show-comment{
    display:flex;
    gap:.4rem;
    margin-top:1rem

}
.no-comments{
    text-align:center
}
.show-comment-container{
    max-height:22rem;
    overflow:scroll
}